body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
  list-style: none;
}

a, a:visited {
  color: #EC176C;
  text-decoration: none
}

a:hover {
  color: #EC176C;
  text-decoration: underline;
}

.link-order, .vote-icon {
  cursor: pointer
}

.vote-icon:hover {
  color: #EC176C;
}

.score-initial {
  margin-top: 50px;
}

.post-footer {
  display: inline;
  padding: 10px;
}

.post-footer span {
  margin: 10px;
}

.post-details .post-footer {
  margin-left: -20px;
}

.nav a {
  margin: 10px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  list-style: none;
  padding-left: 50px;
  padding-bottom: 100px;
}

.container .vote-icon {
  font-size: 26px;
}

.container .posts-list {
  float: left;
}

.container .posts-list ul {
  list-style: none;
}

.container .categories {
  float: right;
  margin-right: 20%;
}

.container .posts-list ul li {
  border: solid 1px #ccc;
  padding-left: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.container .posts-list li {
  padding-bottom: 20px;
}

.container .nav {
  float: right;
  margin-right: 10%;
}

.container .comments-list ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.content-not-found {
  font-size: 24px;
}

.content-not-found-icon {
  font-size: 100px;
  margin-left: 25%;
  color: #EC176C;
}

hr {
  margin-bottom: 20px;
  margin-top: 20px;
}

input, textarea, select {
  border: solid 1px #ccc;
  padding: 10px;
  display: block;
  margin-bottom: 15px;
  width: 80%;
  font-size: 14px;
}

select {
  width: 82.3%;
}

textarea {
  height: 100px;
  width: 80%;
}

button {
  padding: 10px;
}